.login-view
  background-image: linear-gradient(rgba(15, 23, 42, 0.45), rgba(15, 23, 42, 0.45)), url('../../assets/images/desktop.png')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
